<header class="cabecera">
  <div class="header-top">
    <div class="logo-container">
      <img src="assets/images/logohastec.png" alt="HASTEC Logo" class="logo" />
      <h1 class="titulo">HASTEC</h1>
      <p class="slogan">Insteligencia Tecnológica</p>

    </div>

    <nav class="menu-nav">
      <ul>
        <li><a routerLink="/sale-receipt">Productos</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#contacto">Contacto</a></li>
      </ul>
    </nav>
  </div>


</header>
