<header class="cabecera">
  <div class="header-top">
    <div class="logo-container">
      <!-- Envolver el logo y el texto HASTEC con un enlace -->
      <a routerLink="/" class="logo-link">
        <img src="assets/images/logohastec.png" alt="HASTEC Logo" class="logo" />
        <h1 class="titulo">HASTEC</h1>
      </a>
      <p class="slogan">Insteligencia Tecnológica</p>
    </div>

    <nav class="menu-nav">
      <ul>
        <li><a routerLink="/productos">Productos</a></li>
        <li><a routerLink="/nosotros">Nosotros</a></li>
        <li><a href="#servicios">Servicios</a></li>
        <li><a href="#contacto">Contacto</a></li>
        <li><a routerLink="/admin">Admin</a></li>
      </ul>
    </nav>
  </div>
</header>
